  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_h3
  {
    float: none;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    font-size: 18px;
    float: none;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  #Sp1 {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  #Sp2 {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  canvas {
    margin-top: 46px;
  }
 